Serializers for GeoJson classes [DATAMONGO-2336]

**[kubahorak](https://jira.spring.io/secure/ViewProfile.jspa?name=kubahorak)** opened **[DATAMONGO-2336](https://jira.spring.io/browse/DATAMONGO-2336?redirect=false)** and commented

In GeoJsonModule there are deserializers present.

See [Line 55](https://github.com/spring-projects/spring-data-mongodb/blob/2.1.10.RELEASE/spring-data-mongodb/src/main/java/org/springframework/data/mongodb/core/geo/GeoJsonModule.java#L55)

These allow deserialization from RFC7946 format to GeoJson classes.
 

Serializing GeoJsonMultiPoint (applies also to other GeoJson classes) with Jackson using GeoJsonModule leads to following JSON:

 

```
{
    "coordinates": [
        {
            "coordinates": [
                13.306671,
                52.475053
            ],
            "type": "Point",
            "x": 13.306671,
            "y": 52.475053
        },
        {
            "coordinates": [
                13.3063,
                52.470674
            ],
            "type": "Point",
            "x": 13.3063,
            "y": 52.470674
        }
    ],
    "type": "MultiPoint"
}
```

 

RFC7946 [Section 3.1.3](https://tools.ietf.org/html/rfc7946#section-3.1.3), [Section 3.1.1](https://tools.ietf.org/html/rfc7946#section-3.1.1) and [Appendix A.4](https://tools.ietf.org/html/rfc7946#appendix-A.4) specifies that the coordinates should be an array of numbers, not a list of Points.

Expected result would be:

```
{
    "coordinates": [
        [
            13.306671,
            52.475053
        ],
        [
            13.3063,
            52.470674
        ]
    ],
    "type": "MultiPoint"
}
```

To fix this, I suggest adding serializers to GeoJsonModule.

See following test case:

 

```java
GeoJsonMultiPoint multipoint = new GeoJsonMultiPoint(
    new Point(0, 0),
    new Point(1, 1));
String result = objectMapper.writeValueAsString(multipoint);
assertThat(result).isEqualToIgnoringWhitespace(
    "{ \"type\": \"MultiPoint\", \"coordinates\": [[0.0, 0.0], [1.0, 1.0]] }"
);
```

 

 


---

**Affects:** 2.1.10 (Lovelace SR10)


Resolved for 3.2 via #3517